

    <div class="container">
        <h2>Carrito de Compras</h2>
        <ul>
            {{#each cart}}
            <li>
                <strong>{{cart.product.title}}</strong> - Cantidad: {{cart.quantity}} - Precio: ${{cart.price}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>El carrito está vacío.</p>
        <div class="volver">
            <a href="http:/api/views/home"> Volver a home</a>
        </div>
    </div>