
<div>

<li class="contenedor">
    {{#each productos}}
        <strong class="info">Producto:</strong> {{this.title}},
        <strong class="info">Precio:</strong> {{this.price}},
        <strong class="info">Cantidad: </strong>{{this}},
        <strong class="info">Total: </strong>{{this.total}}
    {{/each}}
    </li>

</div>
